[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EGRNi"]
	path = EGRNi
	url = https://github.com/cran/EGRNi
	shallow = true
	registered = true
